<div class="container">
    <ul class="nav nav-pills">
       
        <li role="presentation" routerLink="/registration" routerLinkActive="active">
            <a>Registration</a>
        </li>
        <li role="presentation" routerLink="/login" routerLinkActive="active">
            <a>Login</a>
        </li>
        <li role="presentation" routerLink="/map" routerLinkActive="active">
            <a>map</a>
        </li>
        <li role="presentation" routerLink="/contacts" routerLinkActive="active">
            
        </li>
        
    </ul>
</div>